:root {
  color-scheme: dark;
}

body {
    background-color: #161b22;
}

canvas {
    /* all four are needed to support the most browsers */
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.rectangle {
    width: 50%;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #292e36;
    position: relative;
    cursor: zoom-in;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.label-top {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.label-left {
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
}

.label-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transition: 0.5s;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    cursor: default;
    z-index: 100;
}

input[type=number] {
  width: 5rem;
  padding: 0.5em;
  border: 0.2em solid #E91E63;
  border-radius: 1em;
  text-align: center;
  color: #E91E63;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  margin: 0;
}
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
  background: red;
}

#nest-canvas {
    position: absolute;
    pointer-events: none;
    z-index: 0; /* Ensure it is in the background */
    width: calc(100% - 2.5rem);
    height: calc(100% - 2.5rem);
}

#canvas {
    z-index: 1; /* Ensure it is above the nest canvas */
    width: 100%;
    height: 100%;
}